<a href="https://colab.research.google.com/github/chaudharishital/Machine-Learning/blob/main/Logistic_Regression_using_load_breast_cancer.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from sklearn.linear_model import LogisticRegression

In [2]:
from sklearn.datasets import load_breast_cancer

In [3]:
df=load_breast_cancer()

In [4]:
df.data

array([[1.799e+01, 1.038e+01, 1.228e+02, ..., 2.654e-01, 4.601e-01,
        1.189e-01],
       [2.057e+01, 1.777e+01, 1.329e+02, ..., 1.860e-01, 2.750e-01,
        8.902e-02],
       [1.969e+01, 2.125e+01, 1.300e+02, ..., 2.430e-01, 3.613e-01,
        8.758e-02],
       ...,
       [1.660e+01, 2.808e+01, 1.083e+02, ..., 1.418e-01, 2.218e-01,
        7.820e-02],
       [2.060e+01, 2.933e+01, 1.401e+02, ..., 2.650e-01, 4.087e-01,
        1.240e-01],
       [7.760e+00, 2.454e+01, 4.792e+01, ..., 0.000e+00, 2.871e-01,
        7.039e-02]])

In [5]:
import pandas as pd

In [6]:
x=pd.DataFrame(df.data,columns=df.feature_names)

In [7]:
x.head()

   mean radius  mean texture  ...  worst symmetry  worst fractal dimension
0        17.99         10.38  ...          0.4601                  0.11890
1        20.57         17.77  ...          0.2750                  0.08902
2        19.69         21.25  ...          0.3613                  0.08758
3        11.42         20.38  ...          0.6638                  0.17300
4        20.29         14.34  ...          0.2364                  0.07678

[5 rows x 30 columns]

In [8]:
y=pd.DataFrame(df.target,columns=['Target'])

In [9]:
y

     Target
0         0
1         0
2         0
3         0
4         0
..      ...
564       0
565       0
566       0
567       0
568       1

[569 rows x 1 columns]

In [10]:
y['Target'].value_counts()

1    357
0    212
Name: Target, dtype: int64

In [11]:
from sklearn.model_selection import train_test_split

In [12]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.33,random_state=70)

In [13]:
y_test

     Target
551       1
402       1
396       1
245       1
400       0
..      ...
4         0
88        1
448       1
178       1
409       1

[188 rows x 1 columns]

In [14]:
x_test

     mean radius  mean texture  ...  worst symmetry  worst fractal dimension
551        11.13         22.44  ...          0.3169                  0.08032
402        12.96         18.29  ...          0.3207                  0.07247
396        13.51         18.89  ...          0.2666                  0.07686
245        10.48         19.86  ...          0.2883                  0.07748
400        17.91         21.02  ...          0.3245                  0.11980
..           ...           ...  ...             ...                      ...
4          20.29         14.34  ...          0.2364                  0.07678
88         12.36         21.80  ...          0.2972                  0.09261
448        14.53         19.34  ...          0.2471                  0.07463
178        13.01         22.22  ...          0.2295                  0.05843
409        12.27         17.92  ...          0.3455                  0.06896

[188 rows x 30 columns]

In [15]:
model=LogisticRegression()

In [16]:
model=LogisticRegression(C=10,max_iter=100)

In [17]:
model.fit(x_train,y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:818: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG,

LogisticRegression(C=10)

In [27]:
y_predicted=model.predict(x_test)

In [28]:
type(y_predicted)

numpy.ndarray

In [30]:
model.score(x_test, y_test)

0.9361702127659575

In [21]:
model.score(x_train,y_train)

0.963254593175853

In [22]:
from sklearn.metrics import classification_report,confusion_matrix,accuracy_score

In [31]:
confusion_matrix(y_predicted,y_test)

array([[ 62,   6],
       [  6, 114]])

In [32]:
accuracy_score(y_test,y_predicted)

0.9361702127659575

In [33]:
print(classification_report(y_predicted,y_test))

              precision    recall  f1-score   support

           0       0.91      0.91      0.91        68
           1       0.95      0.95      0.95       120

    accuracy                           0.94       188
   macro avg       0.93      0.93      0.93       188
weighted avg       0.94      0.94      0.94       188