In [1]:
import sqlite3

In [2]:
#sqlite is in-memory database system

In [3]:
db=sqlite3.connect("ineuron.db")

In [4]:
ls

 Volume in drive C has no label.
 Volume Serial Number is F2E3-C302

 Directory of C:\Users\Shital

19-02-2022  11:11 PM            94,186  EDA and Feature Engineering - Flight Price Prediction Dataset.ipynb
20-02-2022  10:53 AM    <DIR>          .
20-02-2022  10:53 AM    <DIR>          ..
05-09-2018  03:55 PM    <DIR>          .android
24-07-2018  10:21 AM    <DIR>          .AndroidStudio3.1
10-02-2022  12:28 AM    <DIR>          .conda
07-02-2022  09:36 AM                25 .condarc
07-02-2022  09:34 AM    <DIR>          .continuum
12-02-2021  11:41 AM    <DIR>          .eclipse
04-09-2018  08:58 PM    <DIR>          .gradle
13-12-2019  10:48 AM    <DIR>          .idlerc
20-02-2022  10:18 AM    <DIR>          .ipynb_checkpoints
21-12-2021  09:27 PM    <DIR>          .ipython
22-12-2021  08:30 PM    <DIR>          .jupyter
05-01-2022  06:08 AM    <DIR>          .matplotlib
15-02-2021  11:26 AM    <DIR>          .p2
13-02-2022  08:53 AM                22 .python_history
15-03-2021  08:10 PM    <DIR>          .VirtualBox
17-01-2022  11:23 PM    <DIR>          3D Objects
20-12-2021  06:12 AM    <DIR>          anaconda3
05-07-2019  06:58 AM    <DIR>          AndroidStudioProjects
09-01-2022  01:25 PM             7,042 Assignment 1.ipynb
09-01-2022  02:20 PM             9,277 Assignment 2.ipynb
09-01-2022  11:00 PM             6,083 Assignment 3.ipynb
23-01-2022  09:54 PM            12,817 Assignment 4.ipynb
23-01-2022  10:25 PM             6,264 Assignment 5.ipynb
24-01-2022  11:11 AM            11,226 Assignment 6.ipynb
27-01-2022  05:57 PM            11,556 Assignment 8.ipynb
27-01-2022  06:26 PM             4,784 Assignment 9.ipynb
18-01-2022  11:41 AM             8,541 Basic Assignment 4.ipynb
06-02-2021  10:34 AM    <DIR>          Contacts
18-02-2022  12:53 PM    <DIR>          Desktop
17-02-2022  04:27 PM    <DIR>          Documents
12-02-2021  04:31 PM    <DIR>          eclipse
18-02-2022  11:09 PM           168,510 EDA and Feature Engineering on Black Friday Dataset.ipynb
18-02-2022  12:07 PM           191,671 EDA on Zomato Dataset.ipynb
06-02-2021  10:34 AM    <DIR>          Favorites
06-04-2021  10:41 AM                43 file.txt
28-09-2021  11:04 AM    <DIR>          IBA_IOAPDATA
20-02-2022  10:51 AM             8,192 ineuron.db
09-01-2022  12:37 PM             4,664 Krish Naik Interview Preparation.ipynb
09-01-2022  10:51 AM             3,884 Krish Naik Interview Preparation-Copy1.ipynb
06-02-2021  10:34 AM    <DIR>          Links
17-01-2022  01:17 PM    <DIR>          Microsoft
19-02-2022  11:26 AM            17,875 MongoDB Basics.ipynb
02-12-2021  06:50 PM    <DIR>          Music
14-09-2021  12:42 PM    <DIR>          OneDrive
10-01-2022  07:36 PM         1,551,333 output.html
02-12-2021  06:32 PM    <DIR>          Pictures
09-01-2022  11:11 PM             3,387 Programming basic assignment 1.ipynb
13-02-2022  04:34 AM    <DIR>          PycharmProjects
06-02-2021  10:34 AM    <DIR>          Saved Games
06-01-2022  02:43 PM    <DIR>          seaborn-data
17-02-2022  07:28 PM    <DIR>          Searches
17-01-2022  10:39 PM    <DIR>          Untitled Folder
17-01-2022  10:39 PM    <DIR>          Untitled Folder 1
17-01-2022  10:39 PM    <DIR>          Untitled Folder 2
17-01-2022  10:40 PM    <DIR>          Untitled Folder 3
17-01-2022  10:40 PM    <DIR>          Untitled Folder 4
17-01-2022  10:40 PM    <DIR>          Untitled Folder 5
17-01-2022  10:41 PM    <DIR>          Untitled Folder 6
21-12-2021  09:29 PM             1,467 Untitled.ipynb
09-01-2022  10:11 AM                 0 untitled.txt
21-12-2021  09:44 PM             3,139 Untitled1.ipynb
17-01-2022  10:40 PM                 0 untitled1.txt
09-01-2022  11:02 PM                72 Untitled10.ipynb
10-01-2022  07:39 PM            20,530 Untitled11.ipynb
17-01-2022  10:39 PM                72 Untitled12.ipynb
18-01-2022  11:29 AM             6,415 Untitled13.ipynb
18-01-2022  10:12 AM               588 Untitled14.ipynb
22-01-2022  06:11 PM             1,009 Untitled15.ipynb
23-01-2022  12:45 PM             2,395 Untitled16.ipynb
27-01-2022  04:18 PM             1,634 Untitled17.ipynb
02-02-2022  11:50 AM               588 Untitled18.ipynb
13-02-2022  08:35 AM             5,643 Untitled19.ipynb
06-01-2022  09:12 PM           308,461 Untitled2.ipynb
18-02-2022  11:16 AM             4,499 Untitled20.ipynb
18-02-2022  10:06 PM               588 Untitled21.ipynb
19-02-2022  10:52 AM               588 Untitled22.ipynb
20-02-2022  10:53 AM            12,309 Untitled23.ipynb
09-01-2022  09:51 AM                72 Untitled3.ipynb
09-01-2022  10:15 AM             5,573 Untitled4.ipynb
09-01-2022  01:25 PM             2,375 Untitled5.ipynb
09-01-2022  10:48 AM             3,252 Untitled6.ipynb
09-01-2022  01:19 PM             7,376 Untitled7.ipynb
09-01-2022  02:18 PM             9,112 Untitled8.ipynb
09-01-2022  10:40 PM             3,589 Untitled9.ipynb
06-02-2021  10:34 AM    <DIR>          Videos
15-03-2021  07:26 PM    <DIR>          VirtualBox VMs
              47 File(s)      2,522,728 bytes
              42 Dir(s)  17,981,022,208 bytes free

In [5]:
c=db.cursor()

In [6]:
c.execute('Create table ineuron(name text,batch_id int,marks real)')

OperationalError: table ineuron already exists

In [7]:
c.execute("insert into ineuron values('sudh',3456,90)")

In [8]:
c.execute("insert into ineuron values('sudh',3456,90)")
c.execute("insert into ineuron values('sudh',3456,90)")
c.execute("insert into ineuron values('sudh',3456,90)")
c.execute("insert into ineuron values('shital',3456,90)")
c.execute("insert into ineuron values('arti',3476,60)")
c.execute("insert into ineuron values('neha',3486,50)")

In [9]:
data=c.execute("select * from ineuron")

In [10]:
for i in data:
    print(i)

('sudh', 3456, 90.0)
('sudh', 3456, 90.0)
('sudh', 3456, 90.0)
('sudh', 3456, 90.0)
('sudh', 3456, 90.0)
('sudh', 3456, 90.0)
('sudh', 3456, 90.0)
('shital', 3456, 90.0)
('arti', 3476, 60.0)
('neha', 3486, 50.0)
('sudh', 3456, 90.0)
('sudh', 3456, 90.0)
('sudh', 3456, 90.0)
('sudh', 3456, 90.0)
('shital', 3456, 90.0)
('arti', 3476, 60.0)
('neha', 3486, 50.0)

In [11]:
db.commit()

In [12]:
db.close()

In [13]:
db=sqlite3.connect("ineuron.db")

In [14]:
c=db.cursor()

In [15]:
c.execute("insert into ineuron values('shital',3456,90)")
c.execute("insert into ineuron values('arti',3476,60)")
c.execute("insert into ineuron values('neha',3486,50)")

In [16]:
data=c.execute("select * from ineuron where name='sudh'")

In [17]:
for i in data:
    print(i)

('sudh', 3456, 90.0)
('sudh', 3456, 90.0)
('sudh', 3456, 90.0)
('sudh', 3456, 90.0)
('sudh', 3456, 90.0)
('sudh', 3456, 90.0)
('sudh', 3456, 90.0)
('sudh', 3456, 90.0)
('sudh', 3456, 90.0)
('sudh', 3456, 90.0)
('sudh', 3456, 90.0)

In [19]:
db.commit()

In [20]:
data=c.execute("select * from ineuron where name='sudh'")
for i in data:
    print(i)

('sudh', 3456, 90.0)
('sudh', 3456, 90.0)
('sudh', 3456, 90.0)
('sudh', 3456, 90.0)
('sudh', 3456, 90.0)
('sudh', 3456, 90.0)
('sudh', 3456, 90.0)
('sudh', 3456, 90.0)
('sudh', 3456, 90.0)
('sudh', 3456, 90.0)
('sudh', 3456, 90.0)

In [21]:
for i in data:
    print(i)

In [22]:
db.close()

In [24]:
db=sqlite3.connect("person.db")

In [25]:
c=db.cursor()

In [26]:
c.execute("create table person_table(name text,email text,age int)")

In [31]:
c.execute("insert into person_table values('shital','shitalchaudhari529@gmail.com',24)")

In [32]:
c.execute("insert into person_table values('shital1','shitalchaudhari5291@gmail.com',27)")
c.execute("insert into person_table values('shital2','shitalchaudhari5292@gmail.com',29)")
c.execute("insert into person_table values('shital3','shitalchaudhari5293@gmail.com',23)")
c.execute("insert into person_table values('shital','shitalchaudhari529@gmail.com',35)")
c.execute("insert into person_table values('Puja','pujab529@gmail.com',23)")
c.execute("insert into person_table values('Sameksha','chaudhariS529@gmail.com',30)")

In [36]:
data=c.execute("select * from person_table")

In [37]:
for i in data:
    print(i)

('shital', 'shitalchaudhari529@gmail.com', 24)
('shital1', 'shitalchaudhari5291@gmail.com', 27)
('shital2', 'shitalchaudhari5292@gmail.com', 29)
('shital3', 'shitalchaudhari5293@gmail.com', 23)
('shital', 'shitalchaudhari529@gmail.com', 35)
('Puja', 'pujab529@gmail.com', 23)
('Sameksha', 'chaudhariS529@gmail.com', 30)

In [39]:
db.commit()

In [40]:
db.close()

In [42]:
db=sqlite3.connect('ineuron.db')

In [43]:
c=db.cursor()

In [44]:
c.execute('drop table ineuron')

In [45]:
c.exceute("Select * from ineuron")

AttributeError: 'sqlite3.Cursor' object has no attribute 'exceute'

In [46]:
ls

 Volume in drive C has no label.
 Volume Serial Number is F2E3-C302

 Directory of C:\Users\Shital

19-02-2022  11:11 PM            94,186  EDA and Feature Engineering - Flight Price Prediction Dataset.ipynb
20-02-2022  11:03 AM    <DIR>          .
20-02-2022  11:03 AM    <DIR>          ..
05-09-2018  03:55 PM    <DIR>          .android
24-07-2018  10:21 AM    <DIR>          .AndroidStudio3.1
10-02-2022  12:28 AM    <DIR>          .conda
07-02-2022  09:36 AM                25 .condarc
07-02-2022  09:34 AM    <DIR>          .continuum
12-02-2021  11:41 AM    <DIR>          .eclipse
04-09-2018  08:58 PM    <DIR>          .gradle
13-12-2019  10:48 AM    <DIR>          .idlerc
20-02-2022  10:18 AM    <DIR>          .ipynb_checkpoints
21-12-2021  09:27 PM    <DIR>          .ipython
22-12-2021  08:30 PM    <DIR>          .jupyter
05-01-2022  06:08 AM    <DIR>          .matplotlib
15-02-2021  11:26 AM    <DIR>          .p2
13-02-2022  08:53 AM                22 .python_history
15-03-2021  08:10 PM    <DIR>          .VirtualBox
17-01-2022  11:23 PM    <DIR>          3D Objects
20-12-2021  06:12 AM    <DIR>          anaconda3
05-07-2019  06:58 AM    <DIR>          AndroidStudioProjects
09-01-2022  01:25 PM             7,042 Assignment 1.ipynb
09-01-2022  02:20 PM             9,277 Assignment 2.ipynb
09-01-2022  11:00 PM             6,083 Assignment 3.ipynb
23-01-2022  09:54 PM            12,817 Assignment 4.ipynb
23-01-2022  10:25 PM             6,264 Assignment 5.ipynb
24-01-2022  11:11 AM            11,226 Assignment 6.ipynb
27-01-2022  05:57 PM            11,556 Assignment 8.ipynb
27-01-2022  06:26 PM             4,784 Assignment 9.ipynb
18-01-2022  11:41 AM             8,541 Basic Assignment 4.ipynb
06-02-2021  10:34 AM    <DIR>          Contacts
18-02-2022  12:53 PM    <DIR>          Desktop
17-02-2022  04:27 PM    <DIR>          Documents
12-02-2021  04:31 PM    <DIR>          eclipse
18-02-2022  11:09 PM           168,510 EDA and Feature Engineering on Black Friday Dataset.ipynb
18-02-2022  12:07 PM           191,671 EDA on Zomato Dataset.ipynb
06-02-2021  10:34 AM    <DIR>          Favorites
06-04-2021  10:41 AM                43 file.txt
28-09-2021  11:04 AM    <DIR>          IBA_IOAPDATA
20-02-2022  11:02 AM             8,192 ineuron.db
09-01-2022  12:37 PM             4,664 Krish Naik Interview Preparation.ipynb
09-01-2022  10:51 AM             3,884 Krish Naik Interview Preparation-Copy1.ipynb
06-02-2021  10:34 AM    <DIR>          Links
17-01-2022  01:17 PM    <DIR>          Microsoft
19-02-2022  11:26 AM            17,875 MongoDB Basics.ipynb
02-12-2021  06:50 PM    <DIR>          Music
14-09-2021  12:42 PM    <DIR>          OneDrive
10-01-2022  07:36 PM         1,551,333 output.html
20-02-2022  11:00 AM             8,192 person.db
02-12-2021  06:32 PM    <DIR>          Pictures
09-01-2022  11:11 PM             3,387 Programming basic assignment 1.ipynb
13-02-2022  04:34 AM    <DIR>          PycharmProjects
06-02-2021  10:34 AM    <DIR>          Saved Games
06-01-2022  02:43 PM    <DIR>          seaborn-data
17-02-2022  07:28 PM    <DIR>          Searches
17-01-2022  10:39 PM    <DIR>          Untitled Folder
17-01-2022  10:39 PM    <DIR>          Untitled Folder 1
17-01-2022  10:39 PM    <DIR>          Untitled Folder 2
17-01-2022  10:40 PM    <DIR>          Untitled Folder 3
17-01-2022  10:40 PM    <DIR>          Untitled Folder 4
17-01-2022  10:40 PM    <DIR>          Untitled Folder 5
17-01-2022  10:41 PM    <DIR>          Untitled Folder 6
21-12-2021  09:29 PM             1,467 Untitled.ipynb
09-01-2022  10:11 AM                 0 untitled.txt
21-12-2021  09:44 PM             3,139 Untitled1.ipynb
17-01-2022  10:40 PM                 0 untitled1.txt
09-01-2022  11:02 PM                72 Untitled10.ipynb
10-01-2022  07:39 PM            20,530 Untitled11.ipynb
17-01-2022  10:39 PM                72 Untitled12.ipynb
18-01-2022  11:29 AM             6,415 Untitled13.ipynb
18-01-2022  10:12 AM               588 Untitled14.ipynb
22-01-2022  06:11 PM             1,009 Untitled15.ipynb
23-01-2022  12:45 PM             2,395 Untitled16.ipynb
27-01-2022  04:18 PM             1,634 Untitled17.ipynb
02-02-2022  11:50 AM               588 Untitled18.ipynb
13-02-2022  08:35 AM             5,643 Untitled19.ipynb
06-01-2022  09:12 PM           308,461 Untitled2.ipynb
18-02-2022  11:16 AM             4,499 Untitled20.ipynb
18-02-2022  10:06 PM               588 Untitled21.ipynb
19-02-2022  10:52 AM               588 Untitled22.ipynb
20-02-2022  11:03 AM            19,180 Untitled23.ipynb
09-01-2022  09:51 AM                72 Untitled3.ipynb
09-01-2022  10:15 AM             5,573 Untitled4.ipynb
09-01-2022  01:25 PM             2,375 Untitled5.ipynb
09-01-2022  10:48 AM             3,252 Untitled6.ipynb
09-01-2022  01:19 PM             7,376 Untitled7.ipynb
09-01-2022  02:18 PM             9,112 Untitled8.ipynb
09-01-2022  10:40 PM             3,589 Untitled9.ipynb
06-02-2021  10:34 AM    <DIR>          Videos
15-03-2021  07:26 PM    <DIR>          VirtualBox VMs
              48 File(s)      2,537,791 bytes
              42 Dir(s)  17,978,814,464 bytes free

In [47]:
db.close()

In [100]:
db=sqlite3.connect('person.db')

In [101]:
c=db.cursor()

In [102]:
data=c.execute("select * from person_table limit 2")

In [103]:
for i in data:
    print(i)

('shital', 'shitalchaudhari529@gmail.com', 24)
('shital1', 'shitalchaudhari5291@gmail.com', 27)

In [104]:
c2=db.cursor()

In [105]:
c2.execute("create table person_table3(name text,mail text,age int,roll_no int)")

OperationalError: database is locked

In [ ]:
c2.execute("insert into person_table3 values('shital','shitalc@gmail.com',24,1612)")

In [62]:
c.execute("insert into person_table3 values('shital23','shitalc@gmail.com',24,1612)")
c.execute("insert into person_table2 values('shital13','shitalc@gmail.com',24,1612)")
c.execute("insert into person_table2 values('shital123','shitalc@gmail.com',24,1612)")
c.execute("insert into person_table2 values('shital232','shitalc@gmail.com',24,1612)")

In [106]:
db.commit()

In [107]:
db.close()

In [108]:
db=sqlite3.connect('person.db')
c=db.cursor()
data=c.execute("select * from person_table limit 2")

In [110]:
for i in data:
    print(i)

('shital', 'shitalchaudhari529@gmail.com', 24)
('shital1', 'shitalchaudhari5291@gmail.com', 27)

In [113]:
db=sqlite3.connect('student.db')
c=db.cursor()
data=c.execute("create table student_table(name text,roll_no int,marks int)")

In [118]:
c.execute("insert into student_table values('shital',1612,100)")
c.execute("insert into student_table values('shital1',1614,99)")
c.execute("insert into student_table values('shital2',1613,60)")
c.execute("insert into student_table values('shital3',1612,107)")
c.execute("insert into student_table values('shital4',16121,109)")

In [123]:
data=c.execute("select * from student_table")

In [124]:
for i in c.execute("select * from student_table"):
        print(i)

('shital', 1612, 100)
('shital', 1612, 100)
('shital', 1612, 100)
('shital', 1612, 100)
('shital', 1612, 100)
('shital', 1612, 100)
('shital', 1612, 100)
('shital1', 1614, 99)
('shital2', 16123, 60)
('shital', 1612, 100)
('shital1', 1614, 99)
('shital2', 1613, 60)
('shital', 1612, 100)
('shital1', 1614, 99)
('shital2', 1613, 60)
('shital3', 1612, 107)
('shital4', 16121, 109)

In [128]:
db.commit()

In [129]:
db.close()

In [141]:
db1=sqlite3.connect('student.db')
c1=db1.cursor()
data1=c1.execute("create table student_address2(name text,roll_no int,marks int,address text)")

In [142]:
c1.execute("insert into student_address2 values('shital',1612,100,'pune')")
c1.execute("insert into student_address2 values('shital1',1614,99,'Mumbai')")
c1.execute("insert into student_address2 values('shital2',1613,60,'Banglore')")
c1.execute("insert into student_address2 values('shital3',1612,107,'Pune')")
c1.execute("insert into student_address2 values('shital4',16121,109,'Pune')")

In [144]:
for i in c1.execute("select * from student_address2"):
        print(i)

('shital', 1612, 100, 'pune')
('shital1', 1614, 99, 'Mumbai')
('shital2', 1613, 60, 'Banglore')
('shital3', 1612, 107, 'Pune')
('shital4', 16121, 109, 'Pune')

In [148]:
data=c1.execute("select * from student_table s left join student_address2 a on s.name=a.name")

In [149]:
for i in data:
    print(i)

('shital', 1612, 100, 'shital', 1612, 100, 'pune')
('shital', 1612, 100, 'shital', 1612, 100, 'pune')
('shital', 1612, 100, 'shital', 1612, 100, 'pune')
('shital', 1612, 100, 'shital', 1612, 100, 'pune')
('shital', 1612, 100, 'shital', 1612, 100, 'pune')
('shital', 1612, 100, 'shital', 1612, 100, 'pune')
('shital', 1612, 100, 'shital', 1612, 100, 'pune')
('shital1', 1614, 99, 'shital1', 1614, 99, 'Mumbai')
('shital2', 16123, 60, 'shital2', 1613, 60, 'Banglore')
('shital', 1612, 100, 'shital', 1612, 100, 'pune')
('shital1', 1614, 99, 'shital1', 1614, 99, 'Mumbai')
('shital2', 1613, 60, 'shital2', 1613, 60, 'Banglore')
('shital', 1612, 100, 'shital', 1612, 100, 'pune')
('shital1', 1614, 99, 'shital1', 1614, 99, 'Mumbai')
('shital2', 1613, 60, 'shital2', 1613, 60, 'Banglore')
('shital3', 1612, 107, 'shital3', 1612, 107, 'Pune')
('shital4', 16121, 109, 'shital4', 16121, 109, 'Pune')

In [159]:
db=sqlite3.connect('student.db')
c=db.cursor()

data=c.execute("select * from student_table")

In [160]:
for i in data:
    print(i)

('shital', 1612, 100)
('shital', 1612, 100)
('shital', 1612, 100)
('shital', 1612, 100)
('shital', 1612, 100)
('shital', 1612, 100)
('shital', 1612, 100)
('shital1', 1614, 99)
('shital2', 16123, 60)
('shital', 1612, 100)
('shital1', 1614, 99)
('shital2', 1613, 60)
('shital', 1612, 100)
('shital1', 1614, 99)
('shital2', 1613, 60)
('shital3', 1612, 107)
('shital4', 16121, 109)

In [167]:
c1.execute("delete from student_address2 where address='Mumbai'")

In [168]:
for i in c1.execute("select * from student_address2"):
        print(i)

('shital', 1612, 100, 'pune')
('shital2', 1613, 60, 'Banglore')
('shital3', 1612, 107, 'Pune')
('shital4', 16121, 109, 'Pune')

In [170]:
c1.execute("update student_address2 set address='Mumbai' where address='Pune'")

In [171]:
for i in c1.execute("select * from student_address2"):
        print(i)

('shital', 1612, 100, 'pune')
('shital2', 1613, 60, 'Banglore')
('shital3', 1612, 107, 'Mumbai')
('shital4', 16121, 109, 'Mumbai')